.main-sidenav {
  width: 300px;
  padding: 15px 20px;
  background-color: #FFFFFF;
  border-radius: 3px;
  @include flex(center, flex-start);
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;

  &__item {
    width: 200px;
    padding: 10px 0;
    font-size: 14px;
    text-transform: uppercase;
    box-sizing: border-box;
    border-bottom: 1px dashed #6e6e6e;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      font-weight: bold;
    }
  }

  .link-active {
    color: $main-theme-color;
    font-weight: bold;
  }
}