.favourites-page {
  padding: 40px 0;
  background: #f4f4f4;
  min-height: 45vh;

  &__title {
    margin-bottom: 55px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 14px;

    .default-message {
      height: 30vh;
      font-size: 22px;
      color: red;
      text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    }

    //.buy {
    //  @include flex(space-between);
    //
    //  &__price {
    //    font-size: 18px;
    //    font-weight: bold;
    //    color: $main-dark-theme;
    //
    //    .price {
    //      &__old {
    //        font-size: 15px;
    //      }
    //
    //      &__new {
    //        margin-left: 11px;
    //        padding: 0 2px;
    //        font-size: 15px;
    //        color: #FFFFFF;
    //        background: $main-theme-color;
    //      }
    //    }
    //  }
    //}
  }
}