.upper-header {
  &__upper-line {
    height: 3px;
    background-color: $main-theme-color;
  }

  &__content {
    height: 32px;
    background-color: #2a2b2c;

    .container {
      position: relative;
      @include flex(space-between);
    }
  }

  &__socials {
    margin-top: 4px;
  }

  &__social-icon {
    display: inline-block;
    margin-right: 5px;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    color: white;
    font-size: 14px;
    text-align: center;
    line-height: 23px;

    &--fb {
      background-color: #3A69AE;
    }

    &--drib {
      background-color: #E14A74;
    }

    &--tw {
      background-color: #36BBE2;
    }

    &--mail {
      color: #414141;
      background-color: #F4F4F4;
    }

    &--vimeo {
      background-color: #14BEEE;
    }
  }

  &__administration {
    margin-right: 130px;
    color: #FFFFFF;
    font-size: 13px;
  }

  &__cart {
    margin-left: 30px;
    top: 0;
    width: 100px;
    height: 45px;
    box-shadow: 0px 10px 10px 0 rgba(0, 0, 0, 0.35);
    background-color: #cc3333;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    line-height: 49px;
    color: inherit;
    border: none;
    outline: none;
    cursor: pointer;

    .fa-cart-arrow-down {
      margin-right: 5px;
      font-size: 26px;
    }
  }


}