@mixin flex($mainAxis, $crossAxis: center) {
  display: flex;
  justify-content: $mainAxis;
  align-items: $crossAxis;
}

@mixin btn($bg, $text-color, $font-size) {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: $bg;
  color: $text-color;
  font-size: $font-size;
}