.lower-footer {
  height: 35px;
  border-top: 1px solid #000000;
  background-color: #1b1b1b;
  font-size: 11px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  letter-spacing: -0.11px;
  color: #6e6e6e;
  line-height: 35px;

  .lower-nav ul {
    float: left;
    width: 192px;
    @include flex(space-between);
  }

  &__copyright {
    float: right;
  }
}