.openCart {
  width: 348px;
  padding-left: 17px;
  padding-right: 20px;
  position: absolute;
  top: 39px;
  right: 0;
  background-color: #FFFFFF;
  z-index: 10;
  color: $main-dark-theme;

  &__total {
    padding-top: 15px;
    padding-bottom: 12px;
    font-size: 14px;
    font-weight: bold;
    @include flex(space-between);
    border-bottom: 1px dashed #b0b0b0;
  }

  &__total-sum {
    font-size: 18px;
    color: $main-theme-color;
  }

  &__controls {
    padding: 20px 0;
  }
}