@import '../../../scss/base/base';
@import '../../../scss/components/components';

.date {
  position: relative;

  .error {
    position: absolute;
    bottom: -20px;
    color: $error-color;
    font-size: 11px;
  }

  button {
    display: inline-block;
    margin-right: 5px;
    padding: 0 15px;
    text-transform: none;
    min-height: 35px;

    i {
      margin-right: 8px;
      font-size: unset !important;
    }

    &:last-child {
      margin-top: 5px;
    }
  }
}